@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,400&display=swap");

:root {
  --font-poppins: "Poppins", sans-serif;

  /* colors */
  --blue-one: #00b7d4;
  --blue-two: #505488;
  --blue-third: #2f3f80;
  --blue-four: #161569;
  --purple-one: #5a4894;
  --purple-two: #a950a1;
  --purple-third: #ff7cae;
  --white: #ffffff;
}
